body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  main {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, button {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  